modules = ["python-3.12", "postgresql-16"]
run = "streamlit run ptc_traffic_flow/app/main_app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run ptc_traffic_flow/app/main_app.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40995054
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PYTHONPATH=. uv pip install -r requirements.txt altair --no-cache"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app/main_app.py"

[[workflows.workflow]]
name = "Run Ingestion - load  sample data in"
author = 40995054
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app/ingestion.py --server.address 0.0.0.0"

[[workflows.workflow]]
name = "Drop All SQL Tables"
author = 40995054
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app/drop_db.py"

[[workflows.workflow]]
name = "Initialize Database"
author = 40995054
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app/init_db.py"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000

[[ports]]
localPort = 8503
externalPort = 3001

[[ports]]
localPort = 8504
externalPort = 3002

[[ports]]
localPort = 8505
externalPort = 3003

[[ports]]
localPort = 8506
externalPort = 4200
